[Unit]
Description=Image Server Stop (SO) 
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
ExecStart=/home/mariano/Documents/Operativos/Tarea1/DaemonConfig/.ImageServerStopSO.sh

[Install]
WantedBy=halt.target reboot.target shutdown.target
