[Unit]
Description=ImageServer Daemon

[Service]
Type=simple

ExecStart=/home/mariano/Documents/Operativos/Tarea1/Servidor/Server3

ExecReload=/home/mariano/Documents/Operativos/Tarea1/Servidor/kill -HUP $MAINPID

ExecStop= /home/mariano/Documents/Operativos/Tarea1/Servidor/kill -2 $MAINPID

User=root

[Install]
WantedBy=multi-user.target




